#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-button {
  --background: #BB32D2;
  --background-hover: #BB32D2;
  --background-activated: #BB32D2;
  --background-focused: #BB32D2;
  --color: rgb(1, 1, 10);
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --ripple-color: deeppink;
  --padding-top: 10px;
  --padding-bottom: 10px;
  margin-top: 5vh;
  height: 10vh;
}

.custom-center {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  height: 45vh; /* Opcional para centrar verticalmente */
  margin-left: 10px;
}

#imgBotonesLog {
  height: 40px;
  width: 150px;
  background-color: rgb(134, 128, 128);
  border-radius: 45%;
}

#btnLogs{
  padding-bottom: 0%;
}
.button-rectangular {
  height: auto; /* Ajusta la altura según el contenido */
  width: 100%; /* El ancho se ajustará al 100% del contenedor */
  padding: 10px; /* Ajusta el espaciado interno según tus preferencias */
  border: none;
  background-color: transparent;
  text-align: center;
}

.button-rectangular {
  transition: transform 0.2s ease-in-out;
  width: 100%;
}

.button-rectangular:hover {
  transform: scale(1.1);
}

.custom-margin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

ion-card-header{
  display: flex;
  flex-direction: column; /* Cambia el flujo de columnas en lugar de filas */
  align-items: center;
  justify-content: center;
  padding-bottom: 0%;
}

ion-card-content{
  padding-bottom: 0px;
  padding-top: 0px;
}

img{
  width: 70%;
}


ion-card{
  background-image: url('../../../assets/general/2.png');
  height: 100vh;
}


ion-card,ion-title,ion-input, ion-button{
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: larger;
}

ion-button{
  font-weight: bold;
  font-size: x-large;
}

