ion-content{
  background-image: url('../../../assets/general/2.png');
}


ion-content{
  --background: none;
}
@media (max-width: 739px) {

.row{
  margin-top: 15%;
}


.rounded{
  height: 170px;
  width: 170px;
  margin: 24px;
}

.column{
  padding-right: 10%;
  padding-left: 0%;
}

#imgBotonesLog{
  height: 48px;
  width: 48px;
  display:block;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);

}

.container-fluid{
  padding-top: 5px;
  padding-left: 0px;
}
}


#imgBotonesLog{
  height: 28px;
  width: 28px;
  display:block;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);

}

#btnLogs{
  height: 60px;
  width: 60px;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:5px;
  border-radius: 50%;
}

ion-col{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vh;
}

@media (min-width: 576px) {
  .rounded{
    width: 65%;
    height: 65%;
  }
  .column{
    padding-right: 1%;
    padding-left: 3%;
    padding-top: 0%;
    margin-top: 0%;

  }
  .container-fluid{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .row{
    margin-top: 0%;
  }
  .container-fluid{
    height: 95vh;
  }
  .margen{
    margin-left: 10% !important;
}

  .col-6{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }


  #imgBotonesLog{
    height: 28px;
    width: 28px;
    display:block;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);

  }

}

