<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tabla Didactica</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="medium">
    <ion-card-header  [@slideInOut]>
      <img src="../../../assets/general/idioma_icon.png">
    <h1>TABLA DIDÁCTICA</h1>
    <h3>Para niños y niñas de 5 años</h3>
    </ion-card-header>
    <ion-card-content [@fadeInOut]>
      <h1 class="custom-center">Macarena</h1>
      <h1 class="custom-center">Ferrero</h1>
      <h2 class="custom-center">4to B</h2>

    </ion-card-content>
  </ion-card>
</ion-content>
